*{
    margin: 0;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    background-color: rgb(28, 35, 44);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.logo{
    display: flex;
    margin-right: 10px;
}
.logo img{
    width: 100px;
}
.address{
    color: white;
    align-items: center;
}
.para1{
    font-size: 14px;
}
.para2{
    font-size: 16px;
    font-weight: 700;
}
.nav-search{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.nav-search select{
    width: 50px;
    height: 35px;
    border-right: 1px solid rgba(128, 128, 128, 0.13);
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
.nav-search input{
    width: 550px;
    height: 35px;
    border: 0 solid transparent;
}
.search-icon{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    background-color: rgb(236, 186, 20);
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-icon-img{
    width: 25px;
}
.p1 {
    font-size: 14px;
    color: white;
}
.p2{
    font-size: 16px;
    color: white;
    font-weight: 700;
}
.cart-logo{
    width: 45px;
}
.cart{
    color: white;
    font-weight: 650;
    display: flex;
    align-items: center;
}
.indian{
    display: flex;
    align-items: center;
}
.down{
    width: 10px;
    height: 10px;
}
.margin{
    margin-right: 10px;
}

/*------------------------------DEALS BAR----------------------------*/

.deals-bar{
    height: 30px;
    background-color: rgba(28, 35, 44, 0.836);
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    justify-content: space-evenly;
}
.deals-deals{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}
.dealt{
    margin-right: 15px;
}
.all-deals{
    display: flex;
    margin-right: 18px;
}
.prime{
    display: flex;
    align-items: cente8;
}
.lion{
    height: 30px;
    width: 80px;
}
.right-top{
    height: 30px;
}
.prime-day{
    height: 30px;
}

/*--------------------Background Stuff--------------------------------------*/
.background{
    background-size: contain;
    height: 590px;
    background-image: url("pics/bgpic.png");
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items{
    display: relative;
}
.item1,.item2,.item3{
    width: 300px;
    height: 500px;
}


